/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
}

.summary-card {
  background: #ffffff;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  overflow: hidden;
  margin: 4.4375rem 1.5rem;
  padding-bottom: 2rem;
}

.text {
  max-width: 22.125rem;
  margin: 0 auto;
}

h1 {
  font-weight: 900;
  font-size: 1.375rem;
  line-height: 1.8125;
  color: #1f2e55;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.main-paragraph {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 167%;
  color: #717fa6;
  margin-bottom: 1.5rem;
}

.plan-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f9ff;
  border-radius: 0.6875rem;
  padding: 1rem;
  width: fit-content;
  margin: 0 auto 1.5rem;
}

.music-icon {
  margin-right: 1.25rem;
}

.annual-div {
  margin-right: 3.125rem;
}

.plan {
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 1.1875;
  color: #1f2e55;
  margin-bottom: 0.1875rem;
}

.price {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1875;
  color: #717fa6;
}

.change-btn {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.0625;
  color: #382ae1;
}

.change-btn:hover {
  color: #766cf1;
}

.payment-btn {
  font-weight: 900;
  font-size: 0.9375rem;
  line-height: 1.25;
  color: #ffffff;
  background: #382ae1;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  border-radius: 0.6875rem;
  padding: 0.9375em 4em;
  text-decoration: none;
  margin: 0 auto 1.5rem;
}

.payment-btn:hover {
  background: #766cf1;
}

.cancel-btn {
  font-weight: 900;
  font-size: 0.9375rem;
  line-height: 1.25;
  color: #717fa6;
  text-decoration: none;
}

.cancel-btn:hover {
  color: #1f2e55;
}

@media screen and (min-width: 26.5625rem) {
  body {
    background-image: url("images/pattern-background-desktop.svg");
  }
}

@media screen and (min-width: 37.5rem) {
  .summary-card {
    padding-bottom: 3rem;
  }

  h1 {
    font-size: 1.75rem;
    line-height: 2.3125rem;
    margin-top: 2.8125rem;
    margin-bottom: 1.0625rem;
  }

  .main-paragraph {
    font-size: 1rem;
    line-height: 162%;
    margin-bottom: 1.25rem;
  }

  .plan-div {
    padding: 1.5625rem 1.5rem;
    width: 22.125rem;
  }

  .plan {
    font-size: 1rem;
    line-height: 1.3125;
  }

  .price {
    font-size: 1rem;
    line-height: 1.3125;
  }

  .change-btn {
    font-size: 0.875rem;
    line-height: 1.1875;
  }

  .payment-btn {
    padding: 0.9375em 6.375em;
    margin: 0 auto 2rem;
  }
}
